<div class="alert alert-danger" *ngIf="hiddenDiv" role="alert" style="height:7%;padding:1%;width:25%;background-color: #ff9090;margin-left:38%;margin-bottom:2%;border-radius: 1cqb;">
    <p style="direction: rtl;">
        البريد الإلكتروني أو كلمة السر خاطئة!
    </p>
</div>



<div class="login">
    <div class="w-form">
    <form id="wf-form-NewsletterEn" name="wf-form-NewsletterEn" data-name="NewsletterEn" method="get" class="form" data-wf-page-id="63855501cbf7eb6f7a9c6184" data-wf-element-id="2fcf2314-eb89-84e7-cbdb-ed4623a23c57">
    <div class="newsletter-title-con">
    <h1 > </h1>
    <div class="newslettertitlear"></div>
    </div>
    <input type="email" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder="البريد الإلكتروني" id="Newsletter-2" required="" [(ngModel)]="FormUser.email"/>
    <input password="password" class="newsletter-input_en w-input" maxlength="256" type="password" name="Newsletter-2" data-name="Newsletter 2" placeholder="كلمة السر" id="Newsletter-2" required="" [(ngModel)]="FormUser.password"/>
   
        <button type="submit" [disabled]="FormUser.email.trim() == '' && FormUser.password.trim() == '' " (click)="onsubmit()" > تسجيل الدخول </button>
    
    </form>
    
    <div class="error-message w-form-fail">
    </div>
</div></div>
