<div class="home-header"  >

<div  style="padding-top:2%;padding:4%;margin-top:0%;">
  <div style="display: inline-block;float:left;width:52%;padding-top:5%;">
   

    <div class="homeaboutslide w-slide">
      <h1 class="pagetitle negative-left-margin" id="h1" >مقدمة عن التربية الإسلامية</h1>
      <h1 class="pagetitle negative-left-margin" id="h2" style="display: none;" >مصادر التربية الإسلاميّة</h1>
   

        <p class="headerp1" id="text1" style="padding-right:10%;padding-bottom:8%;padding-top:9%;" >
          يُعرِّف عُلماء المُسلمين التَّربيةَ الإسلاميَّة: بأنها المنهجُ الواضحُ الذي رسمه القُرآنُ الكريمُ والسُّنة النّبوية، وتتكفَّل برعاية الإنسان من حيث البدنِ والعقلِ والروح، فالتربية الإسلاميّة منهج مُتكامل لرعاية الإنسان وتربيته على الأخلاق الحسنة، وتضمن له التوازن والتوافق بين الحياة الدُنيا والآخرة
        </p>  

          <p class="headerp1" id="text2" style="display: none;">
            <li>القُرآن الكريم: وهو الكتاب الذي أنزله الله -تعالى- على النبي -عليه الصلاة والسلام، بواسطة الوحي جبريل -عليه السلام-، ففيه تثبيت للقلب، وترسيخ للإيمان، وتعليم القُرآن وقراءته، لقوله تعالى: (وَقَالَ الَّذِينَ كَفَرُوا لَوْلَا نُزِّلَ عَلَيْهِ الْقُرْآَنُ جُمْلَةً وَاحِدَةً كَذَلِكَ لِنُثَبِّتَ بِهِ فُؤَادَكَ وَرَتَّلْنَاهُ تَرْتِيلًا).
            </li> 
            <li>السُنة النبويّة: وهي كُل ما جاء عن النبي -عليه الصلاة والسلام- من قول وفعل وتقرير وصفة، لقوله تعالى:(وَمَا آَتَاكُمُ الرَّسُولُ فَخُذُوهُ وَمَا نَهَاكُمْ عَنْهُ فَانْتَهُوا).
            </li>
            <li>هدي الصحابة والتابعين: حيث أن الصحابة -رضي الله عنهم- تعلموا من النبي -عليه الصلاة والسلام- وأخذوا منه، وكانوا يُطبّقون القُرآن فور نُزوله.
            </li>
          </p>
          <button (click)="right()" id="btnRight"><i  class="fa fa-angle-right" ></i></button>
   
          <button (click)="left()"  id="btnLeft" ><i class="fa fa-angle-left" ></i></button>
  </div>
  
  </div>
  <div style="padding-top:5%;">
    <img src="../assets/images/image.jpg" alt="" width="44%">
  </div>

</div>
</div>




