<div *ngIf="OtherDiv" >
<div class="prayer" >
    <p>" اللَّهُمَّ لا سَهْلَ إِلاَّ ما جَعَلْتَهُ سَهْلاً، وأنْتَ تَجْعَلُ الحَزْنَ إذَا شِئْتَ سَهْلاً"</p>
</div>
<button class="start" (click)="start()">بدء الإختبار</button >
</div>
<div class="quiz" *ngIf="QuizDiv">
    <div class="container" >
        <label for="">السؤال 1 :</label>
       <input type="text" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder=" " id="" required=""/>
       <label for="">السؤال 2 :</label>
       <input type="text" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder="" id="" required=""/>
       <label for="">السؤال 3 :</label>
       <input type="text" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder="" id="" required=""/>
       <label for="">السؤال 4 :</label>
       <input type="text" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder="" id="" required=""/>
       <label for="">السؤال 5 :</label>
       <input type="text" class="newsletter-input_en w-input" maxlength="256" name="Newsletter-2" data-name="Newsletter 2" placeholder="" id="" required=""/>
    
     </div>

 <div class="container" >
    <button class="btn">السابق</button > 
    <button class="btnSubmit">إرسال </button >
    <button class="btn">التالي</button> 
 </div>

</div>