<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="footerflex">
  
    <img src="../../assets/images/logo.png" alt=""/>
  
  
   <div class="soicalmediaiconscont">
      
<div class="sm-icon fab">
    <a class="footer-a-icons"> <a class="fa fa-twitter" style="color: rgb(132, 132, 132);" ></a> </a>
</div>
<div class="sm-icon fab">
    <a class="footer-a-icons"> <a class="fa fa-instagram" style="color: rgb(132, 132, 132);"></a> </a>
</div>

<div class="sm-icon fab">
    <a class="footer-a-icons"> <a class="fa fa-facebook" style="color: rgb(132, 132, 132); " ></a> </a>
</div>
</div>
  
  
<div class="footerright">
<ul role="list" class="footer-menu-ul w-clearfix w-list-unstyled">
<li class="footer-menu-li first w-clearfix">

<a [routerLink]="['home']"  aria-current="page" class="footer-menu-a w--current">HOME<br/>‍<span class="navlinkar">الرئيسية</span><br/></a>
</li>

<li class="footer-menu-li w-clearfix"><a [routerLink]="['evaluation']" class="footer-menu-a">Evaluation<br/>
<span class="navlinkar"> إختبار</span></a>
</li>

<li class="footer-menu-li w-clearfix"><a [routerLink]="['contact']"class="footer-menu-a">Contact<br/><span class="navlinkar">التواصل
</span></a></li>

<li class="footer-menu-li w-clearfix"><a [routerLink]="['login']"class="footer-menu-a">LOGIN<br/>
    <span class="navlinkar">تسجيل الدخول</span></a>
    </li>
</ul>
</div>
</div>
</div>


<div class="container">
<div class="copyrights"></div>
<div class="copyrighttxt">© 2023 islamic education. All Rights Reserved.</div>

</div>
  
  