<div class="container-nav w-clearfix">
    <a href="/" aria-current="page" class="brand w-nav-brand w--current">
      <img src="../assets/images/logo.png" alt="" width="18%" >
    </a>
    
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a [routerLink]="['home']" data-w-id="4ff8b466-deb2-3eea-c3e7-3338106a769c" class="nav-link-header w-nav-link">HOME<br/>
          <span class="navlinkar">الرئيسية </span></a>
            
    
    <a [routerLink]="['login']"data-w-id="4ff8b466-deb2-3eea-c3e7-3338106a76ba" class="nav-link-header w-nav-link">Evaluation<br/>
    <span class="navlinkar"> إختبار</span></a>
    <a href="#" data-w-id="4ff8b466-deb2-3eea-c3e7-3338106a76bf" class="nav-link-header hide w-nav-link">resources<br/>
    <span class="navlinkar">مصادر</span>
    </a><div data-hover="false" data-delay="0" class="nav-link-header drop w-dropdown">
    
    </div>
    
    <div data-hover="false" data-delay="0" class="nav-link-header drop hide w-dropdown">
    <div class="dropdown-toggle w-dropdown-toggle">
    <div class="dropicon w-icon-dropdown-toggle"></div>
   </div>
  
    </div>
    
    <a [routerLink]="['contact']" class="nav-link-header w-nav-link">Contact<br/><span class="navlinkar"> تواصل</span></a>
    <a [routerLink]="['login']" data-w-id="49761bd5-e4fd-4603-7bbe-a11bed8182ae" class="nav-link-header w-nav-link">Login<br/>
      <span class="navlinkar">تسجيل الدخول</span></a>
      <a href="#" class="nav-link-header last lng w-nav-link">العربية</a></nav><div class="menu-button w-nav-button">
    <div class="icon w-icon-nav-menu">
    
    </div></div></div>